@use "../abstracts/functions" as *;
@use "../core/typography" as *;

.btn:link,
.btn:visited {
  display: inline-block;
  @include font-button;
  padding: rem(25) rem(48) rem(23) rem(48);
  color: #ffffff;
  transition: 0.3s;

  &:hover {
    background-color: #ffffff;
    color: var(--color-mirage);
  }
}
