@use "../abstracts/functions" as *;
@use "../core/typography" as *;

.btn:link,
.btn:visited {
  display: inline-block;
  @include font-button;
  padding: rem(25) rem(48) rem(23) rem(48);
  text-transform: uppercase;
  letter-spacing: rem(2.5);
  color: #ffffff;
  transition: 0.3s;

  &:hover {
    background-color: #ffffff;
    color: var(--color-mirage);
  }
}

.btn--transparent:link,
.btn--transparent:visited {
  border: 1px solid #ffffff;
  padding: rem(25) rem(55) rem(23) rem(54);
}

.btn--black:link,
.btn--black:visited {
  background-color: #111111;
  padding: rem(25) rem(55) rem(23) rem(54);
}
