@use "../abstracts/functions" as *;
@use "../abstracts/mixins" as *;
@use "../core/typography" as *;

.header {
  background: url(../images/homepage/hero-bg-mobile.jpg) no-repeat center center;
  height: rem(748);
  display: grid;
  align-items: start;

  &__hero {
    align-self: end;
    padding: 0 rem(24);
    margin-bottom: rem(152);
    text-align: center;
  }
}
